In [3]:
import pandas as pd

In [42]:
# data for the last 15 months
files = ['202201-citibike-tripdata.csv', 
         '202202-citibike-tripdata.csv', 
         '202203-citibike-tripdata.csv', 
         '202204-citibike-tripdata.csv', 
         '202205-citibike-tripdata.csv',
         '202206-citibike-tripdata.csv',
         '202207-citibike-tripdata.csv',  
         '202208-citibike-tripdata.csv',
         '202209-citibike-tripdata.csv', 
         '202210-citibike-tripdata.csv',
         '202211-citibike-tripdata.csv',
         '202212-citibike-tripdata.csv',
         '202301-citibike-tripdata.csv',
         '202302-citibike-tripdata.csv',
         '202303-citibike-tripdata.csv'
        ]

In [47]:
df = pd.DataFrame()

# function to sample each dataset to get 25%
def sample(files,df):
    for file in files:
        data = pd.read_csv(file)
        temp_df = pd.DataFrame(data)
        subset = temp_df.sample(frac=0.25)
        df = pd.concat([df, subset], axis=0)
    return df

df = sample(files,df)

c:\Users\apoor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  if sys.path[0] == "":
c:\Users\apoor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if sys.path[0] == "":

In [48]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
766553,CC307B8386DDE602,electric_bike,2022-01-20 20:45:48,2022-01-20 20:48:28,Driggs Ave & N 9 St,5411.08,Driggs Ave & Lorimer St,5481.04,40.718170,-73.955201,40.721791,-73.950415,member
173314,ABF3256F22FF1124,classic_bike,2022-01-26 09:08:23,2022-01-26 09:20:20,E 17 St & Broadway,5980.07,E 40 St & Park Ave,6432.11,40.737050,-73.990093,40.750756,-73.978326,member
803027,DCC0BD76C194C5D0,electric_bike,2022-01-14 14:12:49,2022-01-14 14:19:20,Cherry St,5181.04,St James Pl & Oliver St,5238.05,40.712199,-73.979481,40.713079,-73.998512,member
643495,EB9226C281842F96,classic_bike,2022-01-19 12:07:15,2022-01-19 12:09:05,Hanson Pl & Ashland Pl,4395.07,S Portland Ave & Hanson Pl,4354.05,40.685068,-73.977908,40.685396,-73.974315,member
800572,5337545AD54F42C7,classic_bike,2022-01-14 17:47:29,2022-01-14 17:58:01,Forsyth St\t& Grand St,5382.07,Columbia St & Rivington St,5365.02,40.717798,-73.993161,40.717400,-73.980166,member

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9122871 entries, 766553 to 1879862
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 974.4+ MB

In [50]:
df.dropna(axis=0)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
766553,CC307B8386DDE602,electric_bike,2022-01-20 20:45:48,2022-01-20 20:48:28,Driggs Ave & N 9 St,5411.08,Driggs Ave & Lorimer St,5481.04,40.718170,-73.955201,40.721791,-73.950415,member
173314,ABF3256F22FF1124,classic_bike,2022-01-26 09:08:23,2022-01-26 09:20:20,E 17 St & Broadway,5980.07,E 40 St & Park Ave,6432.11,40.737050,-73.990093,40.750756,-73.978326,member
803027,DCC0BD76C194C5D0,electric_bike,2022-01-14 14:12:49,2022-01-14 14:19:20,Cherry St,5181.04,St James Pl & Oliver St,5238.05,40.712199,-73.979481,40.713079,-73.998512,member
643495,EB9226C281842F96,classic_bike,2022-01-19 12:07:15,2022-01-19 12:09:05,Hanson Pl & Ashland Pl,4395.07,S Portland Ave & Hanson Pl,4354.05,40.685068,-73.977908,40.685396,-73.974315,member
800572,5337545AD54F42C7,classic_bike,2022-01-14 17:47:29,2022-01-14 17:58:01,Forsyth St\t& Grand St,5382.07,Columbia St & Rivington St,5365.02,40.717798,-73.993161,40.717400,-73.980166,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568384,5AD81A3766192862,classic_bike,2023-03-07 15:13:02,2023-03-07 15:28:48,Forsyth St & Broome St,5453.05,8 Ave & W 24 St,6224.06,40.719514,-73.992350,40.745911,-73.998071,member
1277757,0B486C20BF640368,classic_bike,2023-03-20 20:16:36,2023-03-20 20:16:37,Steinway St & Broadway,6711.13,Steinway St & Broadway,6711.13,40.759058,-73.918975,40.759058,-73.918975,member
1721928,5B84DB8F05534B30,classic_bike,2023-03-01 09:55:31,2023-03-01 10:05:35,6 Ave & W 33 St,6364.07,E 56 St & 3 Ave,6691.11,40.749888,-73.987778,40.759345,-73.967597,member
412953,59AD21EE408ACDD7,classic_bike,2023-03-21 17:42:58,2023-03-21 17:46:53,E 11 St & Avenue B,5659.11,St Marks Pl & 1 Ave,5626.13,40.727464,-73.979504,40.727791,-73.985649,member
1879862,BF0F6BCB25515F32,classic_bike,2023-03-31 23:18:27,2023-03-31 23:27:19,6 Ave & W 33 St,6364.07,E 19 St & 3 Ave,5938.01,40.749013,-73.988484,40.736245,-73.984738,member

In [52]:
df.to_csv('sample_merged_files.csv', index=False)